<html>
<head>
    <style>
body {
    background-image: url("cell-phone-1235402.jpg");
}

    </style>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    
    <h2>Marcia's Bot</h2>
    <p>click on "How can I help you?" to view more!</p>
    
</body>
</html>
