<html>
<head>
    <style>
#example1 {
    background:  url(cell-phone-1235402.jpg);
    top center / 200px 200px /* position / size */
     no-repeat                /* repeat */
     fixed                    /* attachment */
     padding-box              /* origin */
     content-box              /* clip */
     red;                     /* color */
}
    </style>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <div id="example1">
    <h2>Marcia'sBot</h2>
    click on "How can I help you?" to view more!
    </div>
</body>
</html>
